@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
    /* Cores SENAI */
    --senai-blue: #0055A4;
    --senai-red: #e30613;
    --senai-dark: #003366;
    --senai-light: #0072CE;
}

@theme {
    --color-senai-blue: #0055A4;
    --color-senai-red: #e30613;
    --color-senai-dark: #003366;
    --color-senai-light: #0072CE;
}


body {
    font-family: 'Inter', sans-serif;
    color: #0B091F;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafb;
    /* bg-gray-50 */
}