services:
  client:
    build: ./client
    container_name: presenca_client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    env_file:
      - ./client/.env
    depends_on:
      - server
    networks:
      - presenca_network
    restart: unless-stopped

  server:
    build: ./server
    container_name: presenca_server
    ports:
      - "5000:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - ./server/.env
    depends_on:
      - redis
      - mongodb
    networks:
      - presenca_network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:5000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  facial:
    build: ./facial
    container_name: presenca_facial
    ports:
      - "8000:8000"
    env_file:
      - ./facial/.env
    depends_on:
      server:
        condition: service_healthy
    networks:
      - presenca_network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: presenca_redis
    ports:
      - "6379:6379"
    networks:
      - presenca_network
    restart: unless-stopped

  mongodb:
    image: mongo:7
    container_name: presenca_mongodb
    restart: unless-stopped
    command: ["--logpath", "/dev/null", "--quiet"]
    env_file:
      - ./mongo/.env
    ports:
      - "27017:27017" # pode remover em produção
    volumes:
      - mongo_data:/data/db
    networks:
      - presenca_network
      
  mongo-backup:
    image: mongo:7
    container_name: mongo_backup
    env_file:
      - ./mongo/.env
    depends_on:
      - mongodb
    volumes:
      - ./backups:/backup
    networks:
      - presenca_network
    entrypoint: >
      sh -c "while true; do
        TIMESTAMP=$$(date +'%Y-%m-%d_%H-%M-%S');
        mongodump --uri=\"mongodb://$${MONGO_USER}:$${MONGO_PASSWORD}@$${MONGO_HOST}:$${MONGO_PORT}/?authSource=$${MONGO_AUTH_DB}\" --archive=/backup/backup-$$TIMESTAMP.gz --gzip;
        echo Backup realizado em $$TIMESTAMP;
        sleep 86400;
      done"

volumes:
  mongo_data:

networks:
  presenca_network:
    driver: bridge
